<div class="flex justify-between items-center mb-4">
  <h2 class="text-2xl font-bold"> <%= t('job_applications.index.title') %></h2>
</div>

<%== pagy_nav(@pagy) %>

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Company Name</th>
        <th class="py-2 px-4 border-b">Job Title</th>
        <th class="py-2 px-4 border-b">Application Date</th>
        <th class="py-2 px-4 border-b">Application Status</th>
        <th class="py-2 px-4 border-b">Job Description</th>
        <th class="py-2 px-4 border-b">Job Link</th>
        <th class="py-2 px-4 border-b">Interview Follow-Up</th>
        <th class="py-2 px-4 border-b">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @job_applications.each do |job_application| %>
        <tr>
          <td class="py-2 px-4 border-b"><%= job_application.company_name %></td>
          <td class="py-2 px-4 border-b"><%= job_application.job_title %></td>
          <td class="py-2 px-4 border-b"><%= job_application.application_date %></td>
          <td class="py-2 px-4 border-b"><%= job_application.application_status %></td>
          <td class="py-2 px-4 border-b"><%= job_application.job_description %></td>
          <td class="py-2 px-4 border-b"><%= job_application.job_link %></td>
          <td class="py-2 px-4 border-b"><%= job_application.interview_follow_up %></td>
          <!--<td class="py-2 px-4 border-b">
            <%= link_to t('job_applications.show.title'), job_application, class: "text-blue-500 hover:underline mr-2" %>
            <%= link_to t('job_applications.edit.title'), edit_job_application_path(job_application), class: "text-yellow-500 hover:underline mr-2" %>
            <%= link_to t('job_applications.destroy.title'), job_application, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
          </td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
